.env
backend/api/__pycache__/
connect-the-dots.code-workspace
*.log
*.pot
*.pyc
backend/backend/__pycache__/
backend/api/migrations/__pycache__/
frontend/.env.production
backend/.env.docker
backend/.env.docker.prod
