services:
  neo4j:
    image: neo4j:5.15.0
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    environment:
      - NEO4J_AUTH=neo4j/password  # Change this password!
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:
