:root {
  /* Theme: Color variables */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-bg: #F5F5F5;
  --color-text: #1B1F3B;
  --color-text-secondary: #4A5568;
  --color-border-1: #374151;
  --color-border-2: #68686B;
  --color-gray-200: #eee;
  --color-gray-300: #ddd;
  --color-gray-400: #646E7A;
  --color-accent: #0076B5;
  --color-accent-hover: #008296;
  --color-success: #2D6A4F;
  --color-danger: #BD4902;
  --color-danger-light: #e53935;
  --color-danger-dark: #b71c1c;
  --color-warning: #8F6701;
  --color-purple: #3A0CA3;
  --color-purple-selected: #7209B7;
  --color-teal-dark: #215D69;
  --color-header-bg: #2F2F2F;
  --color-panel-bg: #f1f1f1;
  --color-item-bg: #f9f9f9;
  --color-item-own-bg: #e6f4ff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent-hover);
}

body {
  margin: 0;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent);
  color: var(--color-white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  a:hover {
    color: var(--color-accent-hover);
  }
  button {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
}
